.btnReset {
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--intensiveBlue);
	cursor: pointer;
}

.addBtn {
	height: 4em;
	width: 4em;
	margin: 2em 0 3em;
	background-color: var(--light);
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.addBtn:hover {
	color: var(--darkBlue);
}

.editBtn,
.deleteBtn {
	padding: 0.8em;
	width: 3em;
}

.editBtn:hover,
.deleteBtn:hover {
	color: var(--darkBlue);
}

.declineBtn,
.confirmBtn {
	height: 4.5em;
	width: 4.5em;
	padding: 0.2em;
	background-color: rgb(247, 197, 197);
	color: rgb(227, 72, 72);
	border: 0.2em solid rgb(227, 72, 72);
	border-radius: 50%;
}

.confirmBtn {
	color: rgb(72, 227, 72);
	border: 0.2em solid rgb(72, 227, 72);
	background-color: rgb(220, 249, 215);
}

.xBtn {
	position: absolute;
	margin: 1em;
	top: 0;
	right: 0;
	width: 1.8em;
	height: 1.8em;
}

.exitBtn {
	height: 2.4em;
	width: 2.4em;
	padding: 0.3em;
	color: var(--light);
	border: 3px solid var(--light);
	border-radius: 8px;
}

.undoBtn {
	height: 4.5em;
	width: 4.5em;
	padding: 0.6em;
	background-color: var(--light);
	color: var(--intensiveBlue);
	border-radius: 50%;
	border: 2px solid var(--intensiveBlue);
}

.repeatWrongBtn,
.repeatBtn,
.houseBtn {
	width: 12em;
	height: 12em;
	margin: 4em 0;
	color: var(--light);
	text-shadow: 2px 2px 3px var(--darkBlue);
}

.repeatWrongBtn p,
.repeatBtn p,
.houseBtn p {
	font-size: 2rem;
}

@media (min-width: 576px) {
	.editBtn,
	.deleteBtn {
		padding: 1em;
		width: 4em;
	}

	.addBtn {
		margin: 2em 0 3em;
	}

	.declineBtn,
	.confirmBtn {
		height: 6em;
		width: 6em;
		padding: 0.4em;
	}
}

@media (min-width: 768px) {
	/* .addBtn {
		height: 6em;
		width: 6em;
		margin: 4em 0;
	}

	.declineBtn, .confirmBtn {
		height: 8em;
		width: 8em;
		padding: .6em;
	} */
}
