.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 10vh;
	width: 100%;
	padding: 2em 0;
	color: var(--light);
	border-bottom: 2px solid var(--light);
}

.setTitle {
	max-width: 50%;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
}

.counter {
	font-size: 2rem;
}

.headerButtons {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40vh;
	width: 100%;
	margin: 3em 0;
	cursor: pointer;
	perspective: 1000px;
}

.cardFront,
.cardBack {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 40vh;
	padding: 2em;
	border-radius: 8px;
	text-align: center;
	transition: transform 0.8s, opacity 0.6s;
	overflow: hidden;

	background-color: var(--light);
	color: var(--intensiveBlue);
	border: 5px solid var(--intensiveBlue);
}

.cardBack {
	transform: rotateY(-180deg);
	opacity: 0;
}

.cardFrontClick {
	transform: rotateY(180deg);
	opacity: 0;
}

.cardBackClick {
	transform: rotateY(0);
	opacity: 1;
}

.textFront,
.textBack {
	font-size: 3rem;
}

.rotateText {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em;
	color: var(--mediumBlue);
	font-size: 1.4rem;
	text-transform: uppercase;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2em;
}

.emptySetInfo {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--light);
}

/* TABLET */
@media (min-width: 576px) {
	.card {
		height: 60vh;
	}
	.cardFront,
	.cardBack {
		height: 60vh;
	}
}

/* DESKTOP */
@media (min-width: 768px) {
	.card {
		height: 60vh;
	}

	.cardFront,
	.cardBack {
		height: 60vh;
	}

	.buttons {
		width: 55%;
		padding: 0;
	}
}

@media (min-width: 992px) {
	.card {
		width: 60%;
	}

	.buttons {
		width: 40%;
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateX(100%) rotate(20deg);
		opacity: 0;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%) rotate(-20deg);
		opacity: 0;
	}
}

.cardSlideRight {
	animation: slideRight 0.5s forwards;
}

.cardSlideLeft {
	animation: slideLeft 0.5s forwards;
}

@keyframes slideTopIn {
	0% {
		transform: translateY(-100%) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.cardSlideTopIn {
	animation: slideTopIn 1s forwards;
	animation-delay: 0.2s;
}

.endScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 5em;
}

.endScreenText {
	margin: 0.3em;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: var(--light);
	text-shadow: 3px 3px 5px var(--darkBlue);
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.buttonsContainer {
		display: flex;
		flex-direction: row;
		gap: 10vh;
		min-width: 80%;
	}
}

@media (min-width: 992px) {
	.endScreen {
		padding: 8em;
	}

	.endScreenText {
		font-size: 5rem;
	}

	.buttonsContainer {
		margin: 6em;
		transform: scale(1.4);
	}
}
