.editModeContainer {
	margin: 5em 0;
	min-width: 60%;
	max-width: 90%;
	padding: 2em;
	background-color: var(--light);
	border-radius: 8px;
	overflow: hidden;
}

.wrapper {
	text-align: center;
}

.addingSetTitle {
	margin: 0.5em 0 1em;
	font-size: 3.6rem;
	color: var(--intensiveBlue);
}

.oneInfo {
	margin: 2em 0;
}

.label {
	font-size: 2rem;
	margin-left: 1em;
}

.errorInfo {
	margin: 0.5em 1em;
	color: red;
	font-size: 1.4em;
	text-transform: uppercase;
}

.input,
.textarea {
	margin-top: 0.8em;
	padding: 0.4em;
	width: 100%;
	font-size: 1.8rem;
	border: none;
	border: 2px solid var(--mediumBlue);
	border-radius: 8px;
}

.textarea {
	min-height: 20vh;
	max-height: 50vh;
	max-width: 100%;
	min-width: 100%;
}

.input:focus,
.textarea:focus {
	border: 2px solid var(--intensiveBlue);
	background-color: var(--lightBlue);
	outline: none;
}

.addingConceptsTitle {
	margin-top: 2em;
	font-size: 4rem;
	color: var(--dark);
	text-align: center;
}


.draggableItem {
	padding: 1em 0;
}

.buttons {
	margin: 1em 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1em;
}

.saveBtn,
.cancelBtn {
	padding: 0.6em;
	font-size: 1.6rem;
	background: transparent;
	border: none;
	border: 2px solid var(--intensiveBlue);
	border-radius: 8px;

	cursor: pointer;
}

.saveBtn:hover,
.cancelBtn:hover {
	background-color: var(--lightBlue);
}

@media (min-width: 576px) {
	.addingSetTitle {
		font-size: 5rem;
	}

	.addingConcepts {
		flex-direction: row;
	}
}

@media (min-width: 992px) {
	.editModeContainer {
		min-width: 70%;
		padding: 4em;
		background-color: var(--light);
	}

	.addingSetTitle {
		font-size: 4.6rem;
	}

	.oneInfo {
		margin: 4em 0;
	}

	.label {
		font-size: 1.8rem;
		margin-left: 2em;
	}

	.input,
	.textarea {
		margin-top: 1em;
		font-size: 1.8rem;
	}

	.addingConcepts {
		gap: 4em;
		margin: 4em 0;
		padding: 3em;
	}

	.conceptContainer label,
	.definitionContainer label {
		font-size: 2rem;
	}

	.conceptContainer input,
	.definitionContainer input {
		padding: 0.6em;
		font-size: 1.8rem;
	}

	.buttons {
		margin: 2em 0;
		gap: 2em;
	}

	.saveBtn,
	.cancelBtn {
		padding: 0.8em 1.6em;
		font-size: 2.2rem;
	}
}
