.background {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: rgb(90, 178, 255);
	background: linear-gradient(
		180deg,
		rgba(90, 178, 255, 1) 7%,
		rgba(160, 222, 255, 1) 47%,
		rgba(202, 244, 255, 1) 100%
	);
	background-image: url("./img/bg_light.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.bgShadow {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.35);
	pointer-events: none;
	z-index: 1;
}

.siteTitle {
	height: 10vh;
	font-size: 3.8rem;
	text-align: center;
	color: var(--light);
	text-shadow: 0 0 5px var(--lightBlue);
}

.titleBackground {
	margin: 4em 0;
	z-index: 2;
}

.setsOfFlashcardsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	height: 100%;
	width: 90%;
	z-index: 2;
	overflow: hidden;
}

/* TABLET */
@media (min-width: 576px) {
	.siteTitle {
		font-size: 5rem;
	}

	.titleBackground {
		margin: 5em 0;
	}
}

/* DESKTOP */
@media (min-width: 768px) {
	.setsOfFlashcardsContainer {
		flex-direction: row;
		justify-content: center;
		align-items: start;
		flex-wrap: wrap;
		gap: 3em;
		width: 80%;
	}
}

@media (min-width: 992px) {
	.siteTitle {
		font-size: 7rem;
	}
	.titleBackground {
		margin: 6.5em;
	}
}

/* //// */
:root {
	--light: #fcfcfc;
	--lightHover: #e8e8e8;
	--cream: #fff9d0;
	--lightBlue: #caf4ff;
	--mediumBlue: #a0deff;
	--intensiveBlue: #5ab2ff;
	--darkBlue: #3c7cb4;
	--dark: #1c1c1c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
